.trackItemContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.trackItem {
  display: grid !important;
  align-items: center !important;
  cursor: pointer;
  padding: 10px !important;
  height: auto !important;
  width: 100% !important;
  text-align: left;
  grid-template-columns: 4rem 1fr;
  transition: 0.2s;
  overflow: hidden;
}

.trackItem.numbered {
    grid-template-columns: 2.1rem 4rem 1fr;
}

.trackItem.playing {
	background-color: var(--mg-neon);
  backdrop-filter: blur(10px);
  color:var(--mg-background);
}

.trackItem.playing:hover {
    background-color: var(--mg-neon-hover);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding-right: 0.5rem;
}

.downloadLink {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.downloadLink:hover {
  opacity: 1;
}

.trackTitle {
    font-weight: bold;
    hyphens: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: var(--font-oddval);
    max-width: var(--trackItemMaxWidth);
}
  
@media (max-width: 768px) {
  .trackTitle, .trackArtist {
    max-width: 8rem;
  }
}
  
.trackTitle.playing {
    mask-image: linear-gradient(90deg, transparent, #000 15%, #000 85%, transparent 100%);
    position: relative;
    overflow: hidden;
    width: 100%;
}
  
.trackTitle > span {
    display: inline-block;
}
  
.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}
  
.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: running;
}
  
.marquee span {
    text-align: center;
    white-space: nowrap;
    padding: 0rem 1rem;
    width: var(--trackItemSpanWidth, --trackItemMaxWidth);
}
  
@keyframes marquee {
    0% { transform: translate3d(var(--move-initial), 0, 0); }
    100% { transform: translate3d(var(--move-final), 0, 0); }
}

.trackItem img {
	margin-right: 10px;
}
  
.trackInfoWrapper {
	flex-grow: 1;
}

.trackNumber {
  font-family: var(--font-geist-sans);
  font-weight: 500;
  opacity: 0.5;
}

.pinned {
  background-color: var(--mg-neon) !important;
  position: sticky !important;
  top: 0rem;
  bottom: 0rem;
  z-index: 1; 
}