.trackItem {
  display: grid !important;
  align-items: center !important;
  cursor: pointer;
  padding: 10px !important;
  height: auto !important;
  /* border-bottom: 1px solid #eee; */
  width: 100% !important;
  text-align: left;
  grid-template-columns: 4rem 1fr 3rem;
  transition: 0.2s;
  overflow: hidden;
  
  }

  .trackItem.numbered {


    grid-template-columns: 2.1rem 4rem 1fr 3rem;
  }
  .trackItem.numbered .trackNumberspan {
  font-family: var(--font-geist-mono);
}
  .trackItem.playing {
	background-color: #8e3ef0cc;
  backdrop-filter: blur(10px);
  color:var(--mg-background);
  }
  .trackItem.playing:hover {
    background-color: #7935ccaf;
    backdrop-filter: blur(10px);
    color:var(--mg-background);
    }
  
  .trackTitle {
    font-weight: bold;
    hyphens: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: var(--font-oddval);
    max-width: var(--trackItemMaxWidth);
    @media (max-width: 768px) {
      max-width: 8rem;
      
    }
  }
  
  .trackArtist {

    hyphens: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: var(--trackItemMaxWidth);
    @media (max-width: 768px) {
      max-width: 8rem;
      
    }
  }



  
  .trackTitle.playing {
     mask-image: linear-gradient(90deg, transparent, #000 15%, #000 85%, transparent 100%);
      position: relative;
      overflow: hidden;
      width: 100%;
  }
  
  .trackTitle > span {
      display: inline-block;
  }
  
  
  .marquee {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      pointer-events: none;
  }
  
  .marquee__inner {
      width: fit-content;
      display: flex;
      position: relative;
      --offset: 1rem;
      --move-initial: calc(-25% + var(--offset));
      --move-final: calc(-50% + var(--offset));
      transform: translate3d(var(--move-initial), 0, 0);
      animation: marquee 5s linear infinite;
      animation-play-state: paused;
      opacity: 0;
    
  }
  
   .marquee__inner {
      
      animation-play-state: running;
      opacity: 1;
      transition-duration: 0.4s;
  }
  
  .marquee span {
      text-align: center;
      white-space: nowrap;
      padding: 0rem 1rem;
      width: var(--trackItemSpanWidth, --trackItemMaxWidth);
      @media (max-width:767px) {
        width: 100%;
      }
  }
  
  @keyframes marquee {
      0% {
          transform: translate3d(var(--move-initial), 0, 0);
      }
  
      100% {
          transform: translate3d(var(--move-final), 0, 0);
      }
  }
  
  
  
  
  
  
  
  
  .trackItem img {
	margin-right: 10px;
  }
  
  .trackItem a {
	  border: none;
	  background: none;
	  padding: 0;
	  cursor: pointer;
  }
  .trackItem a span {
	  font-size: 24px;
  }
  
  .trackInfoWrapper {
	  flex-grow: 1;
  }

  .pinned {
    background-color: #8e3ef0 !important;
    position: sticky !important;
    top: 0rem;
    bottom: 0rem;
    z-index: 1; 
  }