.page {
  padding: 1rem 2rem;
  min-height: 100vh;
  overflow-x: clip;
  box-sizing: border-box;
}

/* @media (min-width: 768px) {
  .page {
    padding-left: 14rem;
  }
} */

.header {
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .page {
    padding: 1rem;
    padding-bottom: 10rem;
  }
}
