.drawerContent {
	position: fixed;
    z-index: 10;
    background-color: #190f2678;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    outline: none;
    animation-duration: 0.25s;
}
.DrawerCloseButton {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12px;
    right: 0px;
    z-index: 4;
    background-color: color-mix(in srgb,var(--dominant-color, #0f0f23),#ffff 30%);
    color:lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
    cursor: pointer;
    @media (max-width: 768px) {
      top: 5px;
      left:50%;
      width: 40px;
      height: 20px;
    }
}
.DrawerCloseButton svg {
    height: 16px;
    width: 16px;
}
.drawerContent.open {
	animation-name: slideInFromRight;
}
.drawerContent.closed {
	animation-name: slideOutToRight;
}
@keyframes slideInFromRight {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}
@keyframes slideOutToRight {
	from { transform: translateX(0); }
	to { transform: translateX(100%); }
}

.mobileDrawer {
	top: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s ;
	background-image: linear-gradient(to bottom, var(--dominant-color, #0f0f23), var(--mg-background));
	display: grid;
	grid-template-rows: 6fr 1fr 1.5fr;
	grid-template-areas: 'mobileHeader' 'mobileProgressBlock' 'mobilePlayerControls';
}
.mobileDrawer::before {
    content: '';
    background: url("/noise.png");
    background-size: 130px;
    background-repeat: repeat;
    position: absolute;
    inset: 0;
    touch-action: none;
    pointer-events: none;
}
.mobileDrawer::after {
	background: var(--mg-background) !important;
}
.dialogHeader {
	grid-area: mobileHeader;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 7fr 1fr;
    grid-template-areas: 'dialogCover dialogCover' 'mobilePlayerInfo otherBtn';
    justify-items: center;
    align-items: center;
    padding: 15px;
	padding-bottom: 5px;
    gap: 10px;
}
.dialogCover {
    grid-area: dialogCover;
    border-radius: 20px;
    width: 80%;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}
.mobilePlayerInfo {
	grid-area: mobilePlayerInfo;
	justify-self: flex-start;
    max-width: 67vw;
    overflow: hidden;
}
.trackInfo {
    color: white;
}
.trackTitle {
    color: #ffffff;
    mask-image: linear-gradient(90deg, #000 0%, #000 90%, transparent 100%);
    width: 70vw;
}
.trackArtist {
    color:#ffffff;
    mask-image: linear-gradient(90deg, #000 0%, #000 90%, transparent 100%);
}
.marquee__inner span {
    min-width: 75vw;
}
.otherBtn {
	grid-area: otherBtn;
}

.mobileProgressBlock {
	grid-area: mobileProgressBlock;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
	grid-template-areas: 'progressBar progressBar progressBar progressBar' 'driverCurrentTime . . driverDuration';
}
.mobileProgressBlock .playerProgress .progressBarContainer {
	width: 100%;
    height: 9px;
    background-color: lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
    border-radius: 28px;
    overflow: hidden;
    padding: 2px;
}
.mobileProgressBlock .progressBar {
    height: 4.3px;
    filter: none;
}
.driverCurrentTime { grid-area: driverCurrentTime; font-size: 15px; }
.driverDuration { grid-area: driverDuration; justify-self: end; font-size: 15px; }

.playerProgress {
	display: flex;
	align-items: center;
	gap: 5px;
	flex-grow: 1;
	cursor: pointer;
	grid-area: progressBar;
	width: 100%;
	padding: 0px;
}
.progressBarContainer {
	width: 100%;
    background-color: #ddd;
    border-radius: 28px;
    overflow: hidden;
    padding: 3px;
}
.progressBar {
    height: 7px;
    background-color: var(--dominant-color, #0f0f23);
    transition: width 0.1s linear;
    border-radius: 25px;
    position: relative;
	filter: brightness(0.7);
}

.mobilePlayerControls {
	grid-area: mobilePlayerControls;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr; 
	grid-template-areas: 'lyrics prev play next queue' '. . . . .' ;
	justify-items: center;
	align-items: center;
}
.queue_button { grid-area: queue; }
.lyrics_button { grid-area: lyrics; }
.prev_button { justify-self: center; }
.next_button { justify-self: center; }
.play_button {
    width: 40px;
    height: 40px;
    background-image: var(--player-icon-play);
}

.drawerContent.open.mobileDrawer { animation-name: slideInFromBottom; }
.drawerContent.closed.mobileDrawer { animation-name: slideOutToBottom; }
@keyframes slideInFromBottom {
	from { transform: translateY(100%); border-radius: 40px 0px 40px 0px; }
	to { transform: translateY(0); border-radius: 0px; }
}
@keyframes slideOutToBottom {
	from { transform: translateY(0); }
	to { transform: translateY(100%); }
}

.coverCarouselContainer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  grid-area: dialogCover;
}
.adjacentCoverPreview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  transform: scale(0.8);
}
.adjacentCoverPreview.transitioning { pointer-events: none; }
.adjacentCoverPreview .dialogCover { width: 60%; max-width: 250px; }

.dialogCoverWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: grab;
}
.dialogCoverWrapper:active { cursor: grabbing; }
.activeCover { transition: none !important; }

@media (min-width: 640px) {
	.drawerContent {
	  right: 20px;
	  top: 20px;
	  bottom: 20px;
	  width: 310px;
	  border-radius: 30px;
	  height: 74vh;
	}
    .drawerContent::after {
		content: '';
		background-color: transparent !important;
	}
    .mobileDrawer {
	  top: auto;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: fit-content;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	  margin-top: 150px;
	}
}


.pauseIcon {
    color: var(--mg-accent-color, #d6d4d8);
	--player-icon-play: url('data:image/svg+xml,%3Csvg%20id%3D%22e79cabdd-6e74-4261-9d58-904827820af4%22%20data-name%3D%22ec61f091-7286-42eb-a4ed-16f15f29f497%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20297.92%20297.3%22%3E%3Cdefs%3E%3Cstyle%3E%20%20%20%20%20%20.bbd86446-a226-4ff7-bc1e-96e6a88a3852%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23FFF%3B%20%20%20%20%20%20%20%20stroke%3A%20%23f9fafb%3B%20%20%20%20%20%20%20%20stroke-miterlimit%3A%2010%3B%20%20%20%20%20%20%20%20stroke-width%3A%2015px%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22bbd86446-a226-4ff7-bc1e-96e6a88a3852%22%20d%3D%22M61.94.44C99.24-.46%2C136.72.27%2C174%2C.3l35.78%2C0c8.59%2C0%2C17.83-.43%2C26.27%2C1.23a59%2C59%2C0%2C0%2C1%2C28.31%2C14.63c13.33%2C12.49%2C17.5%2C28.42%2C18%2C46.16%2C1%2C38.77.29%2C77.55.15%2C116.32l-.13%2C33.85c0%2C8.52.41%2C17.61-1.26%2C26-.27%2C1.29-.58%2C2.57-.94%2C3.84s-.76%2C2.52-1.2%2C3.76-.93%2C2.47-1.46%2C3.67-1.11%2C2.4-1.72%2C3.57a38.25%2C38.25%2C0%2C0%2C1-2%2C3.43c-.74%2C1.12-1.42%2C2.22-2.19%2C3.29s-1.57%2C2.11-2.42%2C3.12-1.71%2C2-2.62%2C3c-11.88%2C12.36-26.76%2C15.76-43.36%2C16H72c-9%2C0-18.49.51-27.41-1.11-1.23-.22-2.44-.49-3.64-.79s-2.4-.66-3.58-1.05-2.34-.82-3.48-1.3-2.28-1-3.39-1.55-2.2-1.15-3.26-1.79-2.11-1.3-3.13-2-2-1.46-3-2.24-1.9-1.59-2.81-2.44C5.66%2C256.07.71%2C241.84.17%2C224.78c-.4-12.32%2C0-24.72%2C0-37l.26-69.6.08-42C.56%2C66.38%2C0%2C56%2C1.8%2C46.33c.26-1.34.57-2.67.92-4s.75-2.63%2C1.2-3.92.93-2.57%2C1.47-3.82%2C1.11-2.5%2C1.74-3.72%2C1.29-2.41%2C2-3.57%2C1.46-2.32%2C2.25-3.43S13%2C21.66%2C13.86%2C20.6s1.77-2.08%2C2.71-3.07C28.8%2C4.6%2C44.78.84%2C61.94.44Zm-.67%2C29c-9.52.55-17.81%2C3.11-24.34%2C10.41a27.1%2C27.1%2C0%2C0%2C0-6.71%2C14c-1.44%2C10.08-.76%2C20.75-.69%2C30.91l.37%2C50.65q.11%2C26-.15%2C51.89c-.2%2C12.6-1.09%2C25.53-.28%2C38.1.52%2C8%2C3%2C16.17%2C9.18%2C21.66a31%2C31%2C0%2C0%2C0%2C16.16%2C7.34c6.66%2C1%2C13.65.51%2C20.36.44q15.14-.21%2C30.26-.21l117.34.18c8.38-.37%2C15.89-1.95%2C22-8.35%2C4.17-4.39%2C5.9-8.54%2C6.75-14.47%2C1.4-9.68.79-19.8.73-29.57l-.08-41.08.19-66.83c0-11.44.57-23.06%2C0-34.48-.45-9.12-2.75-17.31-9.85-23.56A27.89%2C27.89%2C0%2C0%2C0%2C229.29%2C30c-8.5-1.4-17.73-.75-26.35-.71l-41.49.19h-63c-12.41-.1-24.85-.52-37.18%2C0Z%22%20transform%3D%22translate(7.51%207.51)%22%2F%3E%3Cpath%20class%3D%22bbd86446-a226-4ff7-bc1e-96e6a88a3852%22%20d%3D%22M90.06%2C75.37c7-.22%2C18.75-1.7%2C24.77%2C2.41a10.69%2C10.69%2C0%2C0%2C1%2C4.24%2C6.66c1%2C5.19.37%2C11.13.34%2C16.4V126.6l0%2C43.36c0%2C8.39.42%2C17-.09%2C25.32-.18%2C2.87-.26%2C6.22-2.11%2C8.57-2.2%2C2.77-5.32%2C3.32-8.61%2C3.76-7.23.15-20.48%2C1.93-26.74-2.3a9.38%2C9.38%2C0%2C0%2C1-3.8-6.41c-.92-6.18-.46-13-.39-19.2l.18-28L78%2C111.55c0-7.46-.32-15.13.21-22.56.22-3%2C.41-7%2C2.31-9.48C82.83%2C76.4%2C86.49%2C75.85%2C90.06%2C75.37Z%22%20transform%3D%22translate(7.51%207.51)%22%2F%3E%3Cpath%20class%3D%22bbd86446-a226-4ff7-bc1e-96e6a88a3852%22%20d%3D%22M176.76%2C75.38c7.36-.24%2C18.48-1.82%2C25%2C2.21a11.25%2C11.25%2C0%2C0%2C1%2C4.94%2C7.33c.87%2C4.52.39%2C9.85.39%2C14.46L207%2C126.11v44.58c0%2C7.83.3%2C15.79-.15%2C23.61-.16%2C2.75-.3%2C5.87-1.92%2C8.2-2.52%2C3.64-6.54%2C4.46-10.62%2C5.12-7.83.12-20.7%2C1.92-27.2-2.84a10.32%2C10.32%2C0%2C0%2C1-4-6.8c-.75-4.9-.33-10.39-.32-15.36V155.17l-.1-40.79c0-8.71-.43-17.57.17-26.26.19-2.8.25-6%2C2.07-8.25C168%2C76.27%2C172.49%2C75.84%2C176.76%2C75.38Z%22%20transform%3D%22translate(7.51%207.51)%22%2F%3E%3C%2Fsvg%3E');
	transform: scale(1.1);
}
  .playIcon {
	color: var(--mg-accent-color, #d6d4d8);
	--player-icon-play: url('data:image/svg+xml,%3Csvg%20id%3D%22e105aa79-63bd-441c-a3b9-278c5dbb2116%22%20data-name%3D%22e98fc09a-a1ef-4a6f-ba36-b46b432c8765%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20411.54%20411.15%22%3E%3Cdefs%3E%3Cstyle%3E%20%20%20%20%20%20.aeb942c7-6907-43a9-887d-767c5d8eb8ee%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23FFF%3B%20%20%20%20%20%20%20%20stroke%3A%20%23f9fafb%3B%20%20%20%20%20%20%20%20stroke-miterlimit%3A%2010%3B%20%20%20%20%20%20%20%20stroke-width%3A%2020px%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22aeb942c7-6907-43a9-887d-767c5d8eb8ee%22%20d%3D%22M191.89.13h.63C204.05-.35%2C216%2C1%2C227.34%2C2.92c38%2C6.57%2C72.17%2C23%2C100.53%2C49.28%2C37.59%2C34.77%2C61.6%2C84.27%2C63.57%2C135.63%2C2.07%2C54.15-16.14%2C102.29-53.06%2C141.85-36.33%2C38.92-86.19%2C59.5-139%2C61.41-46.85%2C1.48-94.11-16-129.59-46.34C29.2%2C310%2C4.79%2C262.59.68%2C209.29c-.12-1.58-.23-3.16-.32-4.75s-.16-3.17-.21-4.75S.07%2C196.61.06%2C195s0-3.18%2C0-4.77.07-3.17.14-4.75.16-3.17.27-4.76S.7%2C177.59.85%2C176s.31-3.16.5-4.74.39-3.15.61-4.72.47-3.14.73-4.7.55-3.13.85-4.69.62-3.11%2C1-4.66.71-3.1%2C1.08-4.64.78-3.07%2C1.2-4.61.85-3.05%2C1.31-4.57.92-3%2C1.41-4.55%2C1-3%2C1.54-4.51%2C1.07-3%2C1.64-4.46%2C1.15-3%2C1.76-4.43%2C1.22-2.93%2C1.86-4.38%2C1.29-2.9%2C2-4.34%2C1.36-2.86%2C2.07-4.28%2C1.44-2.83%2C2.19-4.23%2C1.51-2.79%2C2.28-4.18%2C1.58-2.75%2C2.4-4.11%2C1.64-2.72%2C2.48-4.06%2C1.72-2.67%2C2.6-4%2C1.77-2.64%2C2.68-3.93%2C1.85-2.59%2C2.79-3.87%2C1.9-2.53%2C2.88-3.79%2C2-2.49%2C3-3.72%2C2-2.44%2C3.07-3.64C84.23%2C24.68%2C135.45%2C4.16%2C191.89.13Zm-4%2C36.6c-46.35%2C4.48-85.17%2C21.1-115.28%2C57.63-.82%2C1-1.64%2C2-2.44%2C3s-1.6%2C2.06-2.38%2C3.1-1.54%2C2.1-2.29%2C3.16-1.49%2C2.14-2.21%2C3.22-1.44%2C2.17-2.14%2C3.26-1.38%2C2.21-2%2C3.33-1.32%2C2.24-2%2C3.37-1.26%2C2.27-1.88%2C3.42-1.21%2C2.3-1.8%2C3.46-1.15%2C2.33-1.7%2C3.51-1.1%2C2.36-1.63%2C3.55-1%2C2.39-1.53%2C3.59-1%2C2.41-1.44%2C3.63-.92%2C2.43-1.36%2C3.66-.85%2C2.46-1.25%2C3.69-.8%2C2.48-1.17%2C3.73-.74%2C2.49-1.08%2C3.75-.67%2C2.51-1%2C3.78-.6%2C2.53-.88%2C3.8-.55%2C2.54-.8%2C3.82-.47%2C2.56-.69%2C3.84-.42%2C2.57-.6%2C3.86-.35%2C2.58-.5%2C3.87-.29%2C2.58-.41%2C3.88-.22%2C2.59-.31%2C3.89-.16%2C2.6-.21%2C3.9-.09%2C2.6-.12%2C3.9%2C0%2C2.6%2C0%2C3.9%2C0%2C2.61.08%2C3.91.1%2C2.6.17%2C3.9.17%2C2.59.28%2C3.89.23%2C2.59.37%2C3.88.28%2C2.6.44%2C3.89.34%2C2.59.53%2C3.88.4%2C2.58.63%2C3.86.47%2C2.57.73%2C3.85.53%2C2.55.82%2C3.82.59%2C2.54.91%2C3.81.66%2C2.52%2C1%2C3.78.72%2C2.51%2C1.1%2C3.76.78%2C2.48%2C1.2%2C3.72.84%2C2.47%2C1.28%2C3.7.9%2C2.45%2C1.38%2C3.66%2C1%2C2.43%2C1.47%2C3.63%2C1%2C2.4%2C1.55%2C3.59%2C1.08%2C2.37%2C1.65%2C3.55%2C1.14%2C2.35%2C1.73%2C3.51%2C1.2%2C2.32%2C1.82%2C3.47%2C1.25%2C2.28%2C1.9%2C3.42%2C1.31%2C2.25%2C2%2C3.37%2C1.37%2C2.22%2C2.07%2C3.32%2C1.42%2C2.18%2C2.15%2C3.27%2C1.48%2C2.15%2C2.23%2C3.21S67.76%2C289%2C68.54%2C290s1.58%2C2.07%2C2.39%2C3.1%2C1.63%2C2%2C2.47%2C3%2C1.68%2C2%2C2.54%2C3%2C1.73%2C2%2C2.61%2C2.91%2C1.77%2C1.91%2C2.68%2C2.85%2C1.82%2C1.87%2C2.75%2C2.78%2C1.87%2C1.82%2C2.82%2C2.72%2C1.92%2C1.77%2C2.89%2C2.64%2C2%2C1.72%2C3%2C2.57%2C2%2C1.67%2C3%2C2.49c30.5%2C24.83%2C68.38%2C38.18%2C107.76%2C36.22a209.33%2C209.33%2C0%2C0%2C0%2C31.87-5.05q3-.78%2C6.06-1.7c2-.6%2C4-1.25%2C6-1.93s4-1.41%2C5.91-2.17%2C3.9-1.56%2C5.82-2.4%2C3.84-1.71%2C5.73-2.62%2C3.76-1.86%2C5.62-2.85%2C3.68-2%2C5.5-3.06%2C3.6-2.15%2C5.38-3.27%2C3.52-2.29%2C5.24-3.48%2C3.43-2.43%2C5.11-3.69%2C3.33-2.55%2C5-3.88%2C3.23-2.68%2C4.8-4.07%2C3.12-2.81%2C4.64-4.25%2C3-2.93%2C4.48-4.44%2C2.89-3%2C4.29-4.6%2C2.77-3.16%2C4.11-4.77c.82-1%2C1.62-2%2C2.41-3s1.57-2%2C2.33-3.07%2C1.52-2.08%2C2.26-3.13%2C1.46-2.11%2C2.17-3.18%2C1.42-2.15%2C2.1-3.24%2C1.36-2.18%2C2-3.29%2C1.3-2.21%2C1.94-3.33%2C1.25-2.25%2C1.85-3.38%2C1.2-2.28%2C1.77-3.43%2C1.14-2.31%2C1.69-3.47%2C1.08-2.33%2C1.6-3.51%2C1-2.36%2C1.51-3.55%2C1-2.38%2C1.43-3.58.9-2.41%2C1.33-3.62.85-2.43%2C1.25-3.65.79-2.45%2C1.16-3.68.73-2.46%2C1.07-3.7.66-2.49%2C1-3.74.61-2.5.88-3.75.55-2.51.79-3.78.49-2.52.7-3.79.42-2.54.61-3.81.35-2.55.51-3.82.29-2.56.41-3.84.23-2.56.33-3.84.16-2.57.22-3.85.11-2.57.14-3.85%2C0-2.58%2C0-3.86v-3.86c0-1.29-.09-2.57-.16-3.85s-.14-2.57-.24-3.85-.21-2.56-.34-3.84C349.51%2C139.31%2C328.51%2C98.63%2C296%2C72.11%2C267.08%2C48.6%2C225.4%2C33.24%2C187.89%2C36.73Z%22%20transform%3D%22translate(9.94%209.97)%22%2F%3E%3Cpath%20class%3D%22aeb942c7-6907-43a9-887d-767c5d8eb8ee%22%20d%3D%22M144.24%2C95.93a22.76%2C22.76%2C0%2C0%2C1%2C6.38.34%2C28.08%2C28.08%2C0%2C0%2C1%2C7.62%2C2.92c6.94%2C3.75%2C13.55%2C8.41%2C20.31%2C12.5q23.16%2C13.88%2C46.14%2C28.09c20.84%2C12.83%2C42.53%2C24.81%2C62.86%2C38.4%2C3%2C2%2C6.77%2C4.28%2C8.73%2C7.41%2C3.45%2C5.51%2C3.55%2C12.17%2C2%2C18.33-.9%2C3.67-4.11%2C6.94-6.95%2C9.28-6.65%2C5.49-14.92%2C9.57-22.31%2C14l-36.51%2C22.16c-8.12%2C4.5-15.95%2C9.81-23.88%2C14.65l-32.74%2C19.56c-6.39%2C3.89-12.11%2C9.08-19.25%2C11.6-6.51%2C2.29-13.12%2C2.5-19.39-.73-5.43-2.78-10.25-8.1-11.83-14.08-1.75-6.61-.51-18.5-.48-25.68l.09-49.3-.11-54.77c-.08-11.28-.69-22.76.07-34a22.24%2C22.24%2C0%2C0%2C1%2C3.25-10.84C132%2C100%2C137.76%2C97.36%2C144.24%2C95.93Zm20.65%2C52.93c.83%2C32.31-.77%2C64.63-.1%2C96.91l50.13-30.06c10.09-6%2C21-11.76%2C30.41-18.75-20-11.28-39.62-23.39-59.32-35.19C179%2C157.55%2C172.38%2C152.31%2C164.89%2C148.86Z%22%20transform%3D%22translate(9.94%209.97)%22%2F%3E%3C%2Fsvg%3E')
  }
