@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans);
  padding-bottom: 10rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

:focus-visible {
  outline: 2px dashed var(--mg-neon-hover);
  outline-offset: 3px;
  border:none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}






@layer base {
  :root {

     --background: 224 71.4% 4.1%; 
    /*--background:  276, 58%, 9%;*/
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 1rem;
  }

}



@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body[data-scroll-locked] {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 11px !important;
}




/* -------------------- MY STYLES  ------------------ */


:root {
  /* --background:#1B0A26; */
	--mg-background: #0c0312;
	--mg-sub-background:#0f0f23;
	--mg-neon: #8E3EF0;
	--mg-text: ;
	--mg-btn-hover: #1B0A26;
	--mg-neon-hover: #AA6DFF;
	--mg-btn-border: rgba(151, 104, 209, 0.345);
   --md-sys-color-primary: #3030e0; 
  /*--md-ripple-hover-color: #0339e1;
  --mg-sub-background:#0f0f23 #1a1a28;
  --md-ripple-pressed-color: #000000;
*/
	--mg-font-size-s: 13vw;
	--mg-font-size-m: 16vw;
	--mg-font-size-l: 24vw;
	--mg-font-size-xl: 26vw;
	--mg-font-family: widescreen-ex, sans-serif;
	--mg-font-weight: 900;
	--mg-content-offset: 20vh;
	--mg-font-case: uppercase;
	--mg-color-rep-text: var(--color-text);
	--mg-color-rep-text-main: var(--color-text);
	--mg-color-rep-outline: var(--mg-neon);
	--mg-color-rep-bg: var(--mg-background);
	/* Adjust these depending on your font */
	--mg-font-factor: 0.059; 
	--mg-font-line: 0.745;

  
	/*--midnight-background:#010030;*/

}


h1, h2, h3, h4, h5 {
  font-family: var(--font-oddval);
}


button {

	transition: 0.1s;

}

svg {
  width:24px;
}

html {
  scrollbar-width: thin;
    scrollbar-color: var(--mg-neon-hover) var(--mg-background);

}






body *::selection {
background: var(--mg-neon-hover); /* Safari */
color: var(--mg-background);
}
body *::-moz-selection {
  background: var(--mg-neon-hover); /* Safari */
  color: var(--mg-background);
}







/* app/components/preloader.css */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--mg-background); /* Цвет фона */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	transition: opacity 0.3s ease-out;
  }
  
  /* При добавлении класса loading-out плавно уменьшаем прозрачность */
  html.loading-out .preloader {
	opacity: 0;
  }
  