.preview {
	position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
	grid-template-areas: 
	'. . . . '
	'. vibe vibe .'
	'. vibe vibe .'
	'. . . .'
	'. . . .';
	justify-content: center;
	align-items: center;
	}
	.title {
        font-family: var(--font-raydis);
        font-size: 20px;
        grid-area: title;
        mix-blend-mode: hard-light;
        color: lavenderblush;
        text-align: center;
    }

.vibe {
	grid-area: vibe;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'title title title'
		'. button .';

}

.vibe_button {
	backdrop-filter: blur(30px);
	filter: brightness(1.5);
	grid-area: button;
}

.vibe_button span {
	display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.vibe_button span svg {
	width: 13px;
}




.canvas_container {
	width: 100%;
    z-index: -1;
    padding-top: 2.5rem;
	position: relative;
	width: 100%;
	height: 100%;
}