.background_canvas {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		/* z-index: -1; */
	  mask-image: linear-gradient(0deg, transparent, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 100%);
mask-size: 100%;
mask-position: right center;
mask-repeat: no-repeat;
filter: hue-rotate(30deg) brightness(1.4) contrast(1.2) saturate(1.2);
}

.noise_canvas {
	position: absolute;
  inset: 0;
   z-index: 3;
   background-image: url("https://mafiko.top/assets/templ/temlplates/EntranceAnimationForImages-main/img/noise.png");
   background-size: 100px;
   pointer-events: none;
 }

 .container {
position: relative;
z-index: -1;
animation: CanvasToScreen 0.6s ease-in-out forwards;


 }

 @keyframes CanvasToScreen {
  from {
    opacity: 0;
    filter: brightness(0);
  }
  to {
    opacity: 1;
    filter: brightness(1);
  }
 }