.mobilePlayer {
    height: 9.5vh;
    position: relative;
}
  
.mobilePlayerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mobilePlayerMask {
  height: 100%;
  mask-image: linear-gradient(90deg, transparent 0%, #000 1%, #000 65%, transparent 85%, transparent 100%);
}

.mobilePlayerFixedElements {
    z-index: 10;
    pointer-events: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr 8px;
    grid-template-areas: '. play_mini_button'
    'mobileProgress mobileProgress';
}

.mobilePlayerFixedElements .mobileProgressBarContainer,
.mobilePlayerFixedElements .play_button {
  pointer-events: auto;
}

.mobilePlayerTrackWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.mobilePlayerTrackContent {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-areas: 'mobilecover mobileInfo';
  width: 100%;
  height: 100%;
  padding-left: 5px;
}

.adjacentTrackPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobilePlayIcon {
   position: absolute;
    right: 10px;
    transform: translateY(-160%);
    z-index: 10;
}

.mobileProgressBarContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mobilePlayerMinimized {
  position: relative;
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-areas: 'mobilecover mobileInfo';
  padding-bottom: 1rem;
}

.mobilePlayerInfo {
  overflow: hidden;
}

.mobilePlayerCover {
	grid-area: mobilecover;
	border-radius: 8px;
	justify-self: flex-start;
}
.mobilePlayerInfoMini {
	grid-area: mobileInfo;
	justify-self: left;
  max-width: 62vw;
} 
.mobilePlayerInfoMini .trackTitle {
    mask-image: linear-gradient(90deg, #000 0%, #000 90%, transparent 100%);
}
.mobilePlayerInfoMini .trackArtist {
    mask-image: linear-gradient(90deg,  #000 0%, #000 90%, transparent 100%);
}

.mobileProgressBarContainer {
	grid-area: mobileProgress;
    height: 7px;
    align-self: end;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 100000px;
}
.mobileProgressBar {
	background: white;
    position: relative;
    height: 5px;
    border-radius: 119px;
}

.play_button {
    z-index: 2;
    grid-area: play_mini_button;
}
.trackTitle {
	font-weight: bold;
    width: -webkit-fill-available;
    mask-image: linear-gradient(90deg, transparent 0%, #000 1%, #000 90%, transparent 100%);
    overflow:hidden;
    white-space: nowrap;
    position: relative;
    padding-right: 10px;
    font-family: var(--font-oddval);
    color:lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
}
.trackArtist {
    width: -webkit-fill-available;
    white-space: nowrap;
    mask-image: linear-gradient(90deg, transparent 0%, #000 1%, #000 85%, transparent 100%);
  overflow:hidden;
  white-space: nowrap;
     position: relative;
     padding-right: 10px;
     color:lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
}
