.player {
	background-color: color-mix(in srgb, var(--dominant-color, #0f0f23), black 20%);
    position: fixed;
    width: 100%;
    padding: 5px;
    bottom: 4rem;
    animation: playerIn 0.4s ease-in-out forwards;
    z-index: 50;
    @media (max-width: 600px) {
      z-index: 10;
    }
}
@keyframes playerIn {
  from { clip-path: inset(100% 0 0 0); }
  99% { clip-path: inset(0 0 0 0); }
  100% { clip-path: none; }
}

.player::before {
    pointer-events: none;
    filter: brightness(80%);
    background-color: var(--dominant-color, #0f0f23);
    content: "";
    position: absolute;
    left: -2.334px;
    bottom: 96%;
    width: 50px;
    height: 50px;
    mask-image: linear-gradient(to top, red, red),
    radial-gradient(circle 28px at center, green 80%, transparent 81%);
    mask-size: 25px 25px, 100%;
    mask-position: bottom left, center;
    mask-repeat: no-repeat, repeat;
    mask-composite: subtract;
    backdrop-filter: saturate(180%) blur(5px);
}
.player::after {	
    pointer-events: none;
    filter: brightness(80%);
    background-color: var(--dominant-color, #0f0f23);
    content: "";
    position: absolute;
    right: -2.334px;
    bottom: 96%;
    width: 50px;
    height: 50px;
    mask-image: linear-gradient(to top, red, red),
    radial-gradient(circle 28px at center, green 80%, transparent 81%);
    mask-size: 25px 25px, 100%;
    mask-position: bottom right, center;
    mask-repeat: no-repeat, repeat;
    mask-composite: subtract;
    backdrop-filter: saturate(180%) blur(5px);
}

@media (min-width: 640px) {
    .player {
      bottom: 0px;
    }
    .player::before {
		left: -3.1px;
		bottom: 97.4%;
		width: 100px;
		height: 100px;
		mask-image: linear-gradient(to top, red, red), radial-gradient(circle 58px at center, green 80%, transparent 81%);
		mask-size: 50px 50px, 100%;
	}
	.player::after {
		right: -3.1px;
		bottom: 97.4%;
		width: 100px;
		height: 100px;
		mask-image: linear-gradient(to top, red, red), radial-gradient(circle 58px at center, green 80%, transparent 81%);
		mask-size: 50px 50px, 100%;
	}
}
