.queueDrawerContent {
    position: fixed;
    z-index: 10;
    background-color: color-mix(in srgb, var(--dominant-color, #0f0f23), black 20%);
    display: flex;
    flex-direction: column;
    outline: none;
    animation-duration: 0.25s;
}

.queueDrawerBackground {
    background: url("/noise.png");
    background-size: 100px;
    background-repeat: repeat;
    position: absolute;
    inset: 0;
    z-index: 3;
    border-radius: 30px;
    touch-action: none;
    pointer-events: none;
}

.queueDrawerCloseButton {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12px;
    right: 0px;
    z-index: 4;
    background-color: var(--dominant-color, #0f0f23);
    color: lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
    cursor: pointer;
    @media (max-width: 768px) {
        top: 5px;
        left: 50%;
        width: 40px;
        height: 20px;
    }
}

.queueDrawerCloseButton svg {
    height: 16px;
    width: 16px;
}

.mobileQueueDrawer {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100dvh;
    transition: 0.3s;
}

.mobileQueueDrawer::after {
    background-color: color-mix(in srgb, var(--dominant-color, #0f0f23), black 20%) !important;
}

@media (min-width: 640px) {
    .queueDrawerContent {
        right: 20px;
        top: 20px;
        bottom: 20px;
        width: 310px;
        border-radius: 30px;
        height: 73vh;
    }
    .queueDrawerContent::after {
        content: '';
        background-color: transparent !important;
    }
}

/* Inner layout */
.drawerTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #B7AEF2;
    margin-left: 1.5rem;
    font-weight: 900;
    font-family: var(--font-oddval);
}

.drawerTrackList {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    z-index: 4;
    position: relative;
}

.tracklistDrawer {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    min-height: 0;
    height: 90%;
    padding: 10px;
    mask-image: linear-gradient(to bottom, transparent 0%, #000 10%, #000 95%, transparent 100%);
    scrollbar-color: auto;
}

.tracklistDrawer::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    z-index: 999;
}

.tracklistDrawer::-webkit-scrollbar-track {
    background: #190f26;
    z-index: 999;
    border-radius: 10px;
}

.tracklistDrawer::-webkit-scrollbar-thumb {
    background-color: #B7AEF2;
    border-radius: 10px;
    border: 4px solid #190f26;
    z-index: 999;
}

/* Desktop trigger button */
.QueueDrawerButton {
    display: flex;
}

.queueDrawerTrigger {
    --md-ripple-pressed-color: var(--dominant-color, #0f0f23) !important;
}
