.playerControls {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 0px 10px;
    margin-top: 10px;
    grid-template-areas: 'info info . playbackContainer . otherControls otherControls'
	'progressBlock progressBlock progressBlock progressBlock progressBlock progressBlock progressBlock';
    justify-items: center;
}
.playback_container {
    grid-area: playbackContainer;
    z-index: 2;
}
.other_controls {
    grid-area: otherControls;
    margin-right: 10px;
    justify-self: end;
display: flex;
}
.playerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: info;
    padding: 2px 9px 2px 5px;
    border-radius: 13px;
    background: var(--dominant-color, #0f0f23);
    justify-self: flex-start;
	margin-left: 10px;
}
.progressBlock {
    grid-area: progressBlock;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    justify-items: center;
    width: 100%;
    grid-template-areas: 'currentTime progressBar duration';
}
.currentTime { grid-area: currentTime; }
.duration { grid-area: duration; }
.playerProgress {
	display: flex;
	align-items: center;
	gap: 5px;
	flex-grow: 1;
	cursor: pointer;
	grid-area: progressBar;
	width: 100%;
	padding: 0px;
}
.progressBarContainer {
	width: 100%;
    background-color: #ddd;
    border-radius: 28px;
    overflow: hidden;
    padding: 3px;
}
.progressBar {
    height: 7px;
    background-color: var(--dominant-color, #0f0f23);
    transition: width 0.1s linear;
    border-radius: 25px;
    position: relative;
	filter: brightness(0.7);
}
.progressBar.dragging {
	transition: none;
}
.trackInfo {
    color: lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
    width: -webkit-fill-available;
    max-width: 10rem;
}
.trackTitle {
	font-weight: bold;
    width: -webkit-fill-available;
    mask-image: linear-gradient(90deg, transparent 0%, #000 1%, #000 90%, transparent 100%);
    overflow:hidden;
    white-space: nowrap;
    position: relative;
    padding-right: 10px;
    font-family: var(--font-oddval);
    color:lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
}
.trackArtist {
    width: -webkit-fill-available;
    white-space: nowrap;
    mask-image: linear-gradient(90deg, transparent 0%, #000 1%, #000 85%, transparent 100%);
  overflow:hidden;
  white-space: nowrap;
     position: relative;
     padding-right: 10px;
     color:lch(from var(--dominant-color, #0f0f23) calc((49.44 - l) * infinity) 0 0);
}
.trackText:hover {
    mask-image: linear-gradient(90deg, transparent 0%, #000 15%, #000 85%, transparent 100%);
}
.trackText > span {
    display: inline-block;
}
.trackText:hover > span {
    opacity: 0;
}
.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}
.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
}
.trackText:hover .marquee__inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}
.marquee span {
    text-align: center;
    white-space: nowrap;
    padding: 0rem 1rem;
}
@keyframes marquee {
    0% { transform: translate3d(var(--move-initial), 0, 0); }
    100% { transform: translate3d(var(--move-final), 0, 0); }
}

.playerControls button span {
	font-size: 36px;
}
.playerInfo a {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
.playerInfo a span {
	font-size: 24px;
}
.downloadButton {
    transition: all 0.3s ;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.downloadButton:active {
	transform: scale(0.9);
}

@media (min-width: 640px) {
  .play_button {
    width: 40px;
    height: 40px;
  }
  .prev_button svg, .next_button svg {
    width: 24px;
  }
}


.trackTitleContainer {
    display: flex;
}